p{
	background-color:#ebebeb;
	text-align:center;
	color:#000;
	margin: 10px 10px 10px 10px;
	padding:10px 10px 10px 10px;

}

h1{
	text-align: center;
	background-color:#ebebeb;
	color:#000000;
	margin: 10px 10px 10px 10px;
	padding:10px 10px 10px 10px;

}

.clear{

}
.main{
	background-color: #777;
}




section{
	height:200px;
	width: 495px;
	position:relative;
	float:left;
	background-color:#ebebeb;
	margin-right:30px;
	margin: 10px 10px 10px 10px;
	padding:10px 10px 10px 10px;
	
	
}
aside{
	background-color:#ebebeb;
	text-align:center;
	float:right;
	width:40%;
	height:220px;
	position:relative;
	margin-top:-220px
	margin-left:30px;
	margin-right:20px;

}

article{
background-color:#777;

text-align: center;
margin: 10px 10px 10px 10px;
padding:10px 10px 10px 10px;


	
}




body{
	background-color: #777;
	
	width: 960px;
}

footer{
	background-color:#ebebeb;
	text-align:center;
	position: relative;
	margin-top:300px;
	padding:10px 20px 30px 40px;
	
}