p{
	background-color:#ebebeb;
	text-align:center;
	color:#000;
	margin: 10px 10px 10px 10px;
	padding:10px 10px 10px 10px;

}

h1{
	text-align: center;
	background-color:#ebebeb;
	color:#000000;
	margin: 10px 10px 10px 10px;
	padding:10px 10px 10px 10px;

}

.clear{

}
.main{
	background-color: #777;
}



aside{
	background-color:#ebebeb;
	text-align:center;
	float:right;
	width:465px;
	height:100px;
	position:relative;
	margin-bottom:100px;

}
section{
	height:100px;
	width: 495px;
	position:relative;
	background-color:#ebebeb;
	margin-right:30px;

	
	
}
article{
background-color:#777;
width:495px;
text-align: center;


	
}




body{
	background-color: #777;
	
	width: 960px;
}

footer{
	background-color:#ebebeb;
	text-align:center;
	position: relative;
	margin-top:80px;
	padding:10px 20px 30px 40px;
	
}